body {
    background: #000;
    color: #bdbdbd;
    font-family: sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    font-size: 120%;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 98%;
}

tr {
    border-bottom: dotted thin #694333;
}

tr:hover {
    background-color: #000033;
}

li p {
    margin-block: 0.5em;
}

a {
    text-decoration: none;
    color: #56c8ff;
}

a:hover {
    text-decoration: underline;
}

.nav {
    text-align: center;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

.nav a {
    padding: 1em;
}

.nav img {
    margin-bottom: 0.5em;
}

.subheader {
    color: #00cdcd;
    text-align: center;
    padding-bottom: 0.4em;
}

.imageblock {
    display: grid;
    place-content: center;  
    gap: 0.3em;
}

.imageblock .title {
    text-align: center;
    font-size: 60%;
    text-align: right;
}

.imageblock.bordered img {
    margin-top: 1.5em;
    border: 1px solid #56c8ff;
}

.center {
    text-align: center;
}

.series {
    font-size: 80%;
    color: #1faaaf;
}

.language-java,
.language-bash,
.language-conf {
    padding: 1em;
    display: block;
    background-color: #5555;
    font-size: 120%;
    overflow-x: auto;
    white-space: break-spaces;
}

.language-conf {
    background-color: #cc9d9d54;
}

p.tableblock{
    margin-block: 0.3em;
}

th.halign-right,td.halign-right{
    text-align:right
}
